.attendees-list {
    text-align: left;
    font-size: small;
}

.post {
    border-color: aquamarine;
}

.join-button {
    padding-top: 2rem;
}

.feed {
    padding-top: 0.5rem;
}

.sidebar {
    position: sticky;
    top: 1rem;
    padding-top: 1rem;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
}
  
.available-friends-list {
    overflow: hidden;
    overflow-y: auto;
    min-height: 20rem;
    height: 20rem; 
    max-height: auto;
}

.available-friend {
    padding-bottom: 1.5rem;
    text-align: left;
}

.invite-friend-button {
    position: absolute; 
    right: 0;
}

.create-post-form {
    display: table;
    border-spacing: 0.5rem;
}

.create-post-form > div {
    display: table-row;
}

.create-post-form > div > label {
    display: table-cell;
    padding-right: 0.5rem;
}

.create-post-form > div > input {
    display: table-cell;
}

.create-post-form > div > button {
    display: table-cell;
}

.invitation-body {
    font-size: small;
}



