.chat {
    width: 33.33vw;
    display: flex;
    flex-direction: column;
    border: solid 1.2px rgb(8, 165, 238);
    border-radius: 2em;
    padding: 0.7em;
    font-family: helvetica;
}
  
.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    display: inline-block;
    padding: 0.55em 1.4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 2em;
}

.received.message {
    align-self: flex-start;
    background-color: #eee;
    position: relative;
    margin-right: 25%;
}

.sent.message {
    align-self: flex-end;
    color: white;
    background: linear-gradient(to bottom, #00D0EB 0%, #0085D0 100%);
    background-attachment: fixed;
    position: relative;
    margin-left: 25%;
}

.chat .input-box {
    border: solid 1.2px rgb(180, 202, 212);
    border-radius: 2em;
    padding: 0.55em 1.4em;
    margin-top: 5%;
}

.input-box:focus {
    outline: none;
}